# Used by package managers
/bower_components/*
/node_modules/*
/plugins/*
/vendor/*
composer.lock

# Used for temporary storage
/tmp/*
/webroot/_css/*
/webroot/_js/*
/webroot/js/bootstrap
/webroot/js/jquery
/webroot/js/masonry

# Used for sensitive/volatile config
/.debug
/.localconfig

# Used for deployment and development
/.capistrano/*
/.vagrant/*
