.wrap
  %h1 Woah, something went wrong
  %h2
    :textile
      We've been notified of the issue, but you can always "report additional information":https://github.com/jeffkreeftmeijer/stillmaintained/issues. Do you want to go back to the "homepage":/?
