#homepage
  %header
    %h1 Still Maintained?
    %h2
      Finally a place to mark your open source project
      %br as abandoned or looking for a new maintainer.

    %a{:href =>'/auth/github', :id => 'login'} Log in via Github to add your work
    %p
      :textile
        *or check out the "projects":/projects we know about already.

    #search
      %form{:action => '/projects', :method => 'GET'}
        %input{:type => 'text', :name => 'q', :value => '', :placeholder => 'find a project'}
        %input{:type => 'submit', :value => 'Search', :class => "button"}
    %hr

#new
  .wrap
    %h2 Recently added

    = haml :projects

    %a{:href => '/projects', :class => 'small button'} show all projects
    %hr
