%h1 Still Maintained?
%h2 Finally a place to mark your open source project as abandoned or looking for a new maintainer.

:textile
  "Log in via Github":/auth/github to add your work or check out the "projects":/projects we know about already.

#search
  %form{:action => '/search', :method => 'GET'}
    %input{:type => 'text', :name => 'q', :value => '', :placeholder => 'find a project'}
    %input{:type => 'submit', :value => 'Search'}


#new
  %h2 Newly added

  = haml :projects

  %a{:href => '/projects', :class => 'small'} show all projects
