!!!5
%head
  %link{:href => 'http://fonts.googleapis.com/css?family=Arvo:regular,bold&subset=latin', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/application.css', :rel => 'stylesheet', :type => 'text/css'}

%body
  %div{:id => 'container'}
    = yield

  %div{:id => 'ad'}
    %div{:id => 'adzerk_ad_div'}
      %script{:type => 'text/javascript', :src => 'http://engine.rubyrow.net/Server/RUBY/JK/HORIZ'}
    %p{:id => 'adzerk_by'}
      Ads from
      %a{:href => 'http://rubyrow.net'} Rubyrow