.wrap
  %h1= "Oh no! #{params[:user]} hasn't added any projects yet!"
  %h2
    Why don't you
    %a{:href => "https://github.com/inbox/new/#{params[:user]}"} send them a message
    about Still Maintained?
