@import reset.sass

$dark: #214379
$light: #3c5f96

body
  font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 20px
  background: #e7f6ff
  color: $light
  text-align: center

// Mixin
@mixin b_small
  padding: 5px 10px
  font-size: 12px
  font-weight: normal
  color: #fff

// Basics
h1
  text-shadow: 1px 1px #fff
  font-size: 50px
  line-height: 1
  color: $dark

h2
  line-height: 30px
  font-size: 20px

a
  color: #00255e
  font-weight: bold
  text-decoration: none

ul
  list-style: none
  text-align: left

#container
  #homepage
    background: url(/images/header.png) no-repeat top center #b8e4fd

.button
  text-align: center
  border: none
  color: #fff
  cursor: pointer
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  background: $dark
  padding: 6px 10px

  &:hover
    background: $light

// Wrap and header
.wrap
  width: 400px
  margin: 50px auto

  h1
    font-size: 32px
    line-height: 40px

header

  h1
    padding-top: 260px
    margin-bottom: 35px

  a#login
    width: 340px
    height: 60px
    display: block
    margin: 35px auto 0
    font-size: 18px
    font-weight: normal
    text-decoration: none
    line-height: 50px
    background: url(/images/b_login.png) no-repeat

#search
  margin: 20px 0 20px 0

  input[type="text"]
    width: 280px
    height: 28px
    border: none
    padding: 0 10px
    line-height: 28px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
  p
    margin-bottom: 10px
    border-top: dashed 1px #E7F6FF

  select
    width: 400px

// Fixed
div#ad, footer
  position: fixed
  bottom: 10px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 11px
  line-height: 120%
  text-align: left

  a
    color: $dark

div#ad
  left: 10px


#forkme
  width: 142px
  height: 142px
  top: 0
  right: 0
  position: absolute
  text-indent: -9999px
  background: url("images/fork_me.png") no-repeat

// Contents
#new
  padding: 10px 0 0 0
  background: url("images/bg_new.png") repeat-x

  h2
    text-align: left

  a
    font-size: 16px
    font-weight: normal
    color: #00255e

    &.small
      @include b_small

ul#projects
  margin: 30px 0 30px

  li
    margin-bottom: 20px

  .lighter
    font-weight: normal
    color: $light

  span.description
    display: block
    margin-left: 13px
    font-size: 12px

.abandoned, .maintained, .searching
  margin-right: 5px

.maintained
  color: green

.abandoned
  color: red

.searching
  color: yellow

footer
  right: 10px
  text-align: right


// Single page
.single
  width: 480px

  h1 a
    padding: 0 5px
    color: #222

    &.maintained
      background: #7fc07f

    &.abandoned
      background: #ff7f7f

    &.searching
      background: #eefe65


  h2
    margin: 20px 0

  p
    margin-bottom: 30px

  a
    &.small
      @include b_small

form
  display: inline-block
  padding: 10px

fieldset
  text-align: left
  margin: 10px 0
  padding: 10px

hr
  margin: 0px
  visibility: hidden
  clear: both

@mixin background-size($size)
  -moz-background-size: $size
  -webkit-background-size: $size
  background-size: $size

@media screen and (max-width: 480px)
  #container
    #homepage
      padding-top: 24px
      background-image: none

  header
    h1
      font-size: 25px
      height: 25px
      padding-top: 0px
    h2
      font-size: 13px

  #new
    padding: 10px 0
    h2
      text-align: center

  footer
    position: relative
    text-align: center
    bottom: none
    left: none
    margin-top: 1em

  div#ad
    position: relative
    bottom: none
    left: none
    max-width: 310px
    height: 100px

  .wrap
    width: 100%
    margin: 25px auto

  #forkme
    height: 71px
    width: 71px
    @include background-size(auto 100%)

  #search
    form
      padding: 0
    select
      width: 300px
      display: block
      margin: auto auto
    input
      display: block

    input.button
      margin: 1em auto 0

  ul#projects
    margin: 15px 10px

  #pagination
    a
      font-size: 18px
      display: inline-block
      margin: 6px

@media screen and (max-width: 320px)
  #container
    #homepage
      padding-top: 24px
      background-image: none

  .wrap
    h1
      font-size: 25px
      height: 25px
      padding-top: 0px
      margin-bottom: 20px
    h2
      font-size: 13px
      line-height: 20px

  .wrap.single
    width: 100%
    h1
      font-size: 23px
      height: auto

  header
    a#login
      @include background-size(100% auto)
      width: 300px
      font-size: 16px

  ul#projects
    margin: 15px 5px

@media screen and (max-width: 768px)
  footer
    position: relative
    text-align: center
    margin-top: 1em

  div#ad
    position: relative
    margin: auto auto
    max-width: 310px
    height: 100px
